.DS_Store
/node_modules/
*.tsbuildinfo

# React Router
/.react-router/
/build/

# AI helpers
# /warp.*
# /project-docs

# Environment variables
.env
.env.production

# Cloudflare
.mf
.wrangler
.dev.vars*
# worker-configuration.d.ts