.DS_Store
/node_modules/
*.tsbuildinfo

# React Router
/.react-router/
/build/

# AI helpers
/warp.*

# Environment variables
.env
.env.production
/project-docs

# Cloudflare
.mf
.wrangler
.dev.vars*
worker-configuration.d.ts